<% if(messages.done) {%>
      <div class="alert alert-success col-xs-12" role="alert"><span class="fa fa-thumbs-o-up"></span><%= messages.done%></div><br/>
<% } %>
<% if(messages.err) {%>
    <div class="alert alert-danger col-xs-12" role="alert"><span class="fa fa-hand-stop-o"></span><%= messages.err%></div><br/>
<% } %>