<!DOCTYPE html>
<html>

  <%- include ../views/partials/_head.ejs %>
    <body>
      
      <div class="container-fluid" id="app"></div>
      <script type="text/javascript" src="/dist/bundle.js"></script>
    </body>

</html>