<!DOCTYPE html>
<html>
  <%- include ../views/partials/_head.ejs %>
  <body>
      <div class="container-fluid"><%- include ../views/partials/_flashMessages.ejs %></div>
      <div class="container-fluid"><%- include ../views/partials/_header.ejs %></div>
      <div class="container-fluid logo">
        
        <h1 class="text-center">Please Log in or Register</h1>
        <%- include ../views/partials/_loginRegisterModalBlock.ejs %>
          
      </div>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>

</html>